<h1>新增廠商</h1>

<%= form_with(model: @vendor, method: "post", url: admin_vendors_path) do |form| %>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, autocomplete: "off"%>
  </div>

  <div class="field">
    <%= form.label :password_confirmation  %>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.submit "新增"%>

<% end %>