<% if resume.errors.any? %>
  <ul>
    <% resume.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
<% end %>


<%= form_with(model: resume) do |form| %>
  <div class="fields">
    <%= form.label :title, "標題"%>
    <%= form.text_field :title, autocomplete: "off" %>
  </div>

  <div class="fields">
    <%= form.label :mugshot, "照片"%>
    <%= form.file_field :mugshot %>
  </div>

  <div class="fields">
    <%= form.label :content, "內容"%>
    <%= form.text_area :content,data: { controller: "markdown-editor" } %>
  </div>

  <div class="fields">
    <%= form.label :status, "狀態"%>
    <%= form.select :status, Resume.all_status %>
  </div>

  <%= form.submit %>

<% end %>